@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700");
* {
  font-family: "Noto Sans", sans-serif;
}

*::-moz-selection {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

*::selection {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

body {
  transition: padding 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

a {
  text-decoration: none;
  color: #EF3340;
}

header {
  z-index: 5;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
header .nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999 !important;
  height: 80px;
}
header .nav .title {
  line-height: 80px;
  padding: 0 120px;
  font-size: 24px;
  color: #fff;
  font-weight: 900;
}
header .nav .toggle {
  position: absolute;
  margin: auto;
  width: 46px;
  height: 46px;
  right: 120px;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  cursor: pointer;
}
header .nav .toggle .bar {
  position: relative;
  width: 40px;
  height: 2px;
  background: #fff;
}
header .nav .toggle .bar:before, header .nav .toggle .bar:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  left: 0;
  transform-origin: center center;
  transition: transform 0.25s ease, top 0.25s ease, bottom 0.25s ease;
}
header .nav .toggle .bar:before {
  top: -10px;
}
header .nav .toggle .bar:after {
  bottom: -10px;
}
header .nav .toggle.clicked .bar {
  background: transparent;
}
header .nav .toggle.clicked .bar:before, header .nav .toggle.clicked .bar:after {
  background: #000;
}
header .nav .toggle.clicked .bar:before {
  transform: rotate(45deg);
  top: 0;
}
header .nav .toggle.clicked .bar:after {
  transform: rotate(-45deg);
  bottom: 0;
}
header .nav nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  opacity: 0;
  z-index: 5;
  transition: opacity 0.5s ease;
}
header .nav nav .showcase {
  background: #000;
  flex: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav nav .showcase .showcase-container {
  width: 50%;
  position: relative;
  overflow: hidden;
}
header .nav nav .showcase .showcase-container:before {
  content: "";
  display: block;
  padding-top: 100%;
}
header .nav nav .showcase .showcase-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: visible;
  list-style-type: none;
  transition: top 0.25s ease;
}
header .nav nav .showcase .showcase-menu li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
header .nav nav .showcase .showcase-menu li.overlay:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
header .nav nav .menu {
  background: #fff;
  flex: 1;
}
header .nav nav .menu ul {
  width: 100%;
  padding: 80px 48px 24px 48px;
  list-style-type: none;
  max-height: 100%;
  overflow-y: auto;
}
header .nav nav .menu ul::-webkit-scrollbar {
  width: 6px;
  height: 10px;
}
header .nav nav .menu ul::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
header .nav nav .menu ul::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border: 0px none #ffffff;
  border-radius: 3px;
}
header .nav nav .menu ul::-webkit-scrollbar-thumb:hover {
  background: #000;
}
header .nav nav .menu ul::-webkit-scrollbar-thumb:active {
  background: #000;
}
header .nav nav .menu ul::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border: 0px none #ffffff;
  border-radius: 0;
}
header .nav nav .menu ul::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.1);
}
header .nav nav .menu ul::-webkit-scrollbar-track:active {
  background: rgba(0, 0, 0, 0.1);
}
header .nav nav .menu ul::-webkit-scrollbar-corner {
  background: transparent;
}
header .nav nav .menu ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .nav nav .menu ul li .number {
  display: inline-block;
  overflow: hidden;
}
header .nav nav .menu ul li .number span {
  display: block;
  font-size: 48px;
  font-weight: 400;
  transition: transform 0.25s ease;
  transform: translateY(100%);
}
header .nav nav .menu ul li a {
  display: inline-block;
  font-size: 48px;
  color: #000;
  line-height: 1;
  transition: transform 0.25s ease;
}
header .nav nav .menu ul li:hover a {
  transform: translateX(20px);
}
header .nav nav .menu ul li.hover .number span {
  transform: translateY(0);
}
header .nav nav.hidden {
  display: none;
}
header .nav nav.open {
  opacity: 1;
}
header .nav nav.open .showcase {
  -webkit-animation: slideInLeft 0.5s cubic-bezier(0.3, 0, 0.3, 1) forwards;
          animation: slideInLeft 0.5s cubic-bezier(0.3, 0, 0.3, 1) forwards;
}
header .nav nav.open .menu {
  -webkit-animation: slideInRight 0.5s cubic-bezier(0.3, 0, 0.3, 1) forwards;
          animation: slideInRight 0.5s cubic-bezier(0.3, 0, 0.3, 1) forwards;
}

@-webkit-keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.content {
  position: relative;
  flex: 1;
  z-index: 999 !important;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/124740/2018-09-28%2009_21_48-https___d2kbkpwf98wmwo.cloudfront.net_videos_hero-lg.mp4.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.content p {
  color: #fff;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.content p a {
  color: #fff;
  box-shadow: 0 1px 0 0 #EF3340;
}
