@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
  font-family: albert;
  src: url(../fonts/albert.otf);
}

@font-face {
  font-family: gotham;
  src: url(../fonts/gotham.ttf);
}

html{
    font-family: "Poppins",Arial,sans-serif;
    scroll-behavior: smooth !important;
}

body{
  height: auto;
  width: auto;
  overflow-x: hidden !important;
  background-color: #000000;
  font-family: "Poppins",Arial,sans-serif;
}

#menu{
  position: relative;
  top: 25px;
  left: 20px;
  z-index: 1;
}


#head{
  position: relative;
  text-align: center;
  top: -33px;
  font-family: 'albert', cursive !important;
}

h1{
    color: white;
}

#search{
  position: relative;
  float: right;
  top: -100px;
  right: 12px;
}

#angel{
  position: relative;
  left: 56%;
  top: -110px;
}
#guy{
  width: 925px;
  height: 560px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  border-radius: 15px;
  position: relative;
  left: 0%;
  -webkit-filter: brightness(80%);
}

#guy:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#g1{
  position: absolute;
  left: 20%;
  top: 43%;
  font-size: 50px;
  color: white;
  z-index: 1 !important;
  font-family: "Poppins",Arial,sans-serif !important;
    /* text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
				-1px -1px 0 #000; */
}

#dan{
  position: absolute;
  z-index: 1 !important;
  left: 15%;
  top: 99%;
  color: white;
  font-family: 'albert', cursive !important;
}

#dani{
  position: absolute;
  z-index: 1 !important;
  left: 28%;
  top: 99%;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#three{
  position: relative;
  width: 950px;
  height: 350px;
  border-radius: 20px;
  left: 12%;
}

#az{
  position: relative;
  left: 12%;
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 36px;
}

#azi{
  position: relative;
  float: right;
  right: 12%;
  height: 33px;
  width: 34px;
  top: -60px;
}

.azi{
  position: relative;
  left: 24%;
  border-radius: 50%;
}

.threes{
  position: relative;
  left: 12%;
  -webkit-filter: brightness(100%);
  display: flex;
}

#three1, #three2, #three3{
  border-radius: 19.6px;
  border: 2px solid #ffffff;
}

#three1:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#three2:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#three3:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.text31{
  position: fixed;
  color: white !important;
  z-index: 1;
  font-family: 'albert', cursive !important;
  top: 33%;
  left: 2%;
}

.text311{
  position: fixed;
  color: white !important;
  z-index: 1;
  font-family: 'albert', cursive !important;
  top: 55%;
  left: 2%;
}

.ml6 {
  position: relative;
  font-weight: 90;
  font-size: 1.7em;
}

.ml6 .text-wrapper {
  position: fixed;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.text32{
  position: fixed;
  color: white !important;
  z-index: 2;
  font-family: 'albert', cursive !important;
  top: 33%;
  left: 26%;
}

.text322{
  position: fixed;
  color: white !important;
  z-index: 2;
  font-family: 'albert', cursive !important;
  top: 55%;
  left: 26%;
}

.text33{
  position: fixed;
  color: white !important;
  z-index: 4 !important;
  font-family: 'albert', cursive !important;
  top: 33%;
  left: 51%;
}

.text333{
  position: fixed;
  color: white !important;
  z-index: 1;
  font-family: 'albert', cursive !important;
  top: 55%;
  left: 51%;
}

.cd1 h3{
  position: sticky;
  color: white !important;
  z-index: 2;
  font-family: 'albert', cursive !important;
  margin-top: -50px;
  margin-left: 14%;
  overflow: auto;
  float: left;
}

.cd1 img{
  height: 60px !important;
  width: 60px;
  position: relative;
  top: -70px;
  left: 24%;
  border-radius: 50%;
}

.cd2 h3{
  position: sticky;
  color: white !important;
  z-index: 2;
  font-family: 'albert', cursive !important;
  margin-left: 39%;
  margin-top: -110px;
  overflow: auto;
}

.cd2 img{
  height: 60px !important;
  width: 60px;
  position: relative;
  top: -70px;
  left: 27%;
  border-radius: 50%;
}

.cd3 h3{
  position: sticky;
  color: white !important;
  z-index: 2;
  font-family: 'albert', cursive !important;
  margin-top: -110px;
  margin-left: 64%;
  overflow: auto;
}

.cd3 img{
  height: 60px !important;
  width: 60px;
  position: relative;
  top: -70px;
  left: 52%;
  border-radius: 50%;
}

#t, #q, #p{
  position: relative;
  left: 12%;
}

.foursome{
  position: relative;
  display: flex;
  left: 12%;
}

#f1, #f2, #f3, #f4{
  border: 2px solid #ffffff;
  border-radius: 19px;
}

#f1:hover , #f2:hover , #f3:hover , #f4:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

p{
  font-family: 'albert', cursive !important;
  z-index: 1;
  font-size: 18px;
  color: white;
}

#p1{
  position: relative;
  left: -830px;
}

#p2{
  position: relative;
  left: -680px;
}

#p3{
  position: relative;
  left: -480px;
}

#p4{
  position: relative;
  left: -338px;
}

.five{
  position: relative;
  left: 12%;
  display: flex;
  flex-flow: row wrap;
  font-size: 23px;
}

break{
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

#ff1, #ff2, #ff3, #ff4, #ff5, #ff6{
  border: 2px solid #ffffff;
  border-radius: 19.6px;
  width: 280px;
}

#pp1{
  position: relative;
  top: -160px;
  left: -900px;
}

#pp2{
  position: relative;
  top: -290px;
  left: 30%;
}

#pp3{
  position: relative;
  top: -290px;
  left: 42%;
}

#pp4{
  position: relative;
  left: -360px;
  top: -110px;
}

#pp5{
  position: relative;
  left: -240px;
  top: -110px;
}

#pp6{
  position: relative;
  left: -110px;
  top: -110px;
}

#ff1:hover, #ff2:hover, #ff3:hover, #ff4:hover, #ff5:hover, #ff6:hover{
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/* Responsive Code */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }

.sixsome{
  position: relative;
  left: 11.5%;
}

#s1, #s2, #s3, #s4{
  border: 2px solid #ffffff;
  border-radius: 19.6px;
}

#s1:hover, #s2:hover, #s3:hover, #s4:hover{
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#s2{
  position: relative;
  top: 80px !important;
}

#s4{
  position: relative;
  top: 80px !important;
}

#sp1{
  position: relative;
  top: -150px !important;
  left: 15px !important;
  z-index: 2;
}

#sp2{
  position: relative;
  top: -150px !important;
  left: 260px !important;
  z-index: 2;
}

#sp3{
  position: relative;
  top: -300px !important;
  left: 520px !important;
  z-index: 2;
}

#sp4{
  position: relative;
  top: -280px !important;
  left: 770px !important;
  z-index: 2;
}

#line{
  text-align: center;
  position: relative;
  top: -59px;
}

#but{
  position: relative;
  height: 50px;
  background-color: #6163ff;
  text-decoration: none;
  color: white;
  outline: none;
  left: 45%;
  top: -15px;
  text-align: center;
  border-radius: 6px;
  border: 3px solid white;
  font-family: 'albert', cursive !important;
}

.doctors{
  position: relative;
  left: 10%;
  display: flex;
  flex-flow: row wrap;
}

#d1, #d2, #d3, #d4, #d5, #d6{
  border: 2px solid #ffffff;
  border-radius: 19.6px;
}
#d1:hover, #d2:hover, #d3:hover, #d4:hover, #d5:hover, #d6:hover {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#posbug{
  position: relative;
  left: 10px !important;
}

figcaption{
  color: #ffffff;
  position: relative;
  left: 1%;
}
