@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
  font-family: albert;
  src: url(fonts/albert.otf);
}

body{
  height: auto;
  width: auto;
  overflow-x: hidden !important;
  background-color: #17131e;
}

#menu{
  position: relative;
  top: 25px;
  left: 20px;
  z-index: 1;
}


#head{
  position: relative;
  text-align: center;
  top: -33px;
}

h1{
  font-family: 'albert', cursive;
  color: white;
}

#search{
  position: relative;
  float: right;
  top: -100px;
  right: 12px;
}

#angel{
  position: relative;
  left: 56%;
  top: -110px;
}
#guy{
  width: 925px;
  height: 560px;
  border: 2px solid #00ff00;
  border-radius: 15px;
  border-radius: 15px;
  position: relative;
  left: 12%;
  -webkit-filter: brightness(80%);
}

#guy:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#g1{
  position: absolute;
  left: 20%;
  top: 43%;
  font-size: 55px;
  color: white;
  z-index: 1 !important;
  font-family: 'albert', cursive;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
				-1px -1px 0 #000;
}

#dan{
  position: absolute;
  z-index: 1 !important;
  left: 15%;
  top: 93%;
  color: white;
  font-family: 'albert', cursive;
}

#dani{
  position: absolute;
  z-index: 1 !important;
  left: 28%;
  top: 93%;
}
#three{
  position: relative;
  width: 950px;
  height: 350px;
  border-radius: 20px;
  left: 12%;
}

#az{
  position: relative;
  left: 12%;
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 36px;
}

#azi{
  position: relative;
  float: right;
  right: 12%;
  height: 33px;
  width: 34px;
  top: -60px;
}

.azi{
  position: relative;
  left: 24%;
  border-radius: 50%;
}

.threes{
  position: relative;
  left: 12%;
  -webkit-filter: brightness(100%);
  display: flex;
}

#three1, #three2, #three3{
  border-radius: 19.6px;
  border: 2px solid #00ff00;
}

#three1:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#three2:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#three3:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#text31{
  position: fixed;
  color: white !important;
  z-index: 1;
  font-family: 'albert', cursive;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
				-1px -1px 0 #000;
  top: 25%;
  left: 2%;
}

#text32{
  position: fixed;
  color: white !important;
  z-index: 2;
  font-family: 'albert', cursive;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000;
				-1px -1px 0 #000;
  top: 25%;
  left: 26%;
}

#text33{
  position: fixed;
  color: white !important;
  z-index: 4 !important;
  font-family: 'albert', cursive;
  text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
       1px -1px 0 #000;
      -1px -1px 0 #000;
  top: 25%;
  left: 51%;
}

.cd1 h3{
  position: sticky;
  color: white !important;
  z-index: 2;
  font-family: 'albert', cursive;
  margin-top: -50px;
  margin-left: 14%;
  overflow: auto;
  float: left;
}

.cd1 img{
  height: 60px !important;
  width: 60px;
  position: relative;
  top: -70px;
  left: 24%;
}

.cd2 h3{
  position: sticky;
  color: white !important;
  z-index: 2;
  font-family: 'albert', cursive;
  margin-left: 39%;
  margin-top: -110px;
  overflow: auto;
}

.cd2 img{
  height: 60px !important;
  width: 60px;
  position: relative;
  top: -70px;
  left: 27%;
}

.cd3 h3{
  position: sticky;
  color: white !important;
  z-index: 2;
  font-family: 'albert', cursive;
  margin-top: -110px;
  margin-left: 64%;
  overflow: auto;
}

.cd3 img{
  height: 60px !important;
  width: 60px;
  position: relative;
  top: -70px;
  left: 52%;
}

#t, #q, #p{
  position: relative;
  left: 12%;
}

.foursome{
  position: relative;
  display: flex;
  left: 12%;
}

#f1, #f2, #f3, #f4{
  border: 2px solid #00ff00;
  border-radius: 19px;
}

#f1:hover , #f2:hover , #f3:hover , #f4:hover {
  -webkit-filter: brightness(50%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

p{
  font-family: 'albert', cursive;
  z-index: 1;
  font-size: 18px;
  color: white;
  text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
       1px -1px 0 #000;
      -1px -1px 0 #000;
}

#p1{
  position: relative;
  left: -830px;
}

#p2{
  position: relative;
  left: -680px;
}

#p3{
  position: relative;
  left: -480px;
}

#p4{
  position: relative;
  left: -340px;
}

.five{
  position: relative;
  left: 12%;
  display: flex;
  flex-flow: row wrap;
  font-size: 23px;
}

break{
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

#ff1, #ff2, #ff3, #ff4, #ff5, #ff6{
  border: 2px solid #00ff00;
  border-radius: 19.6px;
  width: 280px;
}

#pp1{
  position: relative;
  top: -160px;
  left: -930px;
}

#pp2{
  position: relative;
  top: -160px;
  left: 30%;
}

/* #pp3{
  position: relative;
  top: -160px;
  left: -930px;
} */
