@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');

body{
  height: auto;
  width: auto;
  overflow-x: hidden !important;
}

#menu{
  position: relative;
  top: 25px;
  left: 20px;
}

#head{
  position: relative;
  text-align: center;
  top: -33px;
}

h1{
  font-family: 'Bebas Neue', cursive;
}

#search{
  position: relative;
  float: right;
  top: -100px;
  right: 12px;
}

#guy{
  width: 950px;
  height: 560px;
  border-radius: 15px;
  position: relative;
  left: 12%;
}

#three{
  position: relative;
  width: 950px;
  height: 350px;
  border-radius: 19.6px;
  left: 12%;
}

#az{
  position: relative;
  left: 12%;
  font-family: 'Zen Tokyo Zoo', cursive;
  font-size: 36px;
}

#azi{
  position: relative;
  float: right;
  right: 12%;
  height: 33px;
  width: 34px;
  top: -60px;
}

.azi{
  position: relative;
  left: 24%;
  border-radius: 50%;
}
